<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--DEV-->
    <!--<compilation debug="false" targetFramework="4.5"/>-->
    <!--for release-->
    <!--Rakesh 04-06-2019 WUIN-1004: added requestValidationMode="2.0" 
      - to overcome the issue of using script tags like <, > in page content
      - Request validation is enabled only for pages, not for all HTTP requests-->
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" targetFramework="4.5" requestValidationMode="2.0"/>
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <!--Harish 12-12-2017 : change-->
    <!--<sessionState mode="InProc" timeout="10" />--> 
    <sessionState mode="InProc" cookieless="true" regenerateExpiredSessionId="true" timeout="10" />    
    <globalization culture="en-GB" />
    <!--Rakesh 04-06-2019 WUIN-1004:
    - added this to overcome the issue of using script tags like <, > in page content
    Validation of requests disabled for complete application-->
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <!--Generic - Start-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="WebReqTimeout" value="18000000" />   
    <add key="RoyaltorGroupingDefaultPageSize" value="500" />
    <add key="WorkflowGridDefaultPageSize" value="100" />
    <add key="TrackListingGridDefaultPageSize" value="50" />
    <add key="GridDefaultPageSize1" value="100" />
    <add key="GridDefaultPageSize2" value="200" />
    <add key="WARSAffiliate" value="nonPROD" />
    <add key="WARSSupportUserList" value="MUSIC\KrisKemp,MUSIC\GrahamSalmon,MUSIC\HarishBolakanda_ER,MUSIC\HarishBolakanda,MUSIC\SusmithaChinta"/>    
    <add key="WARSSupportUserId" value="MUSIC\WARS_Support"/>
    <!--Generic - End-->
    <!--1000*60*60*5(5 minutes)-->
    <!--BO related - Start-->    
    <add key="BOServerBaseURL" value="http://ukldnbodev:6405/biprws/" />
    <add key="BOServerLogonTokenURL" value="ukldnbodev.music.wmgis.com:8080/BOE/BI" />
    <add key="BOReportsURL" value="http://ukldnbodev.music.wmgis.com:8080" />    
    <add key="SummaryStmtBORptTabName" value="Summary Statement" />
    <add key="InvoiceStmtBORptTabName" value="Invoice"/>    
    <!--BO related - End-->    
    <!--WARS Service account - Start-->
    <add key="WARSServiceDomain" value="MUSIC" />
    <add key="WARSServiceUser" value="s_WARSService" />
    <add key="WARSServicePwd" value="WARS.Net14.52019" />
    <!--WARS Service account - End-->
    <!--Sharepoint related - start-->
    <add key="SharePointSite" value="https://wmg.sharepoint.com/sites/msteams_67e8de"/>
    <add key="SharePointDocumentLibrary" value="Documents"/>
    <add key="sharePointPDFFolderAffiliate" value="WARS_PDF_FILES_"/>
    <add key="SharePointAccount" value="s_warsservice@music.wmgis.com"/>
    <add key="SharePointAccountPwd" value="WARS.Net14.52019"/>    
    <!--Sharepoint related - end-->
  </appSettings>  
</configuration>